@font-face {
  font-family: "Pokemon Solid";
  src: url("/fonts/Pokemon_Solid.ttf") format("truetype");
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 575.98px) {
  #root {
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #root {
    max-width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #root {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #root {
    max-width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  #root {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  #root {
    max-width: 1280px;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  font: inherit; /* Inherit font styles */
  cursor: pointer; /* Pointer cursor */
}

.pokemon-title {
  margin: 0;
  font-family: "Pokemon Solid", sans-serif;
  margin-top: auto;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.sprite img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sprite img:hover {
  transform: scale(1.1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.combobox-options:empty {
  display: none;
}

.sprite {
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.sprite-animate {
  animation: spriteAnimation 2s ease 0s 1 normal forwards;
}

.sprite-img {
  width: 96px;
}

.pokemon-name {
  transition: color 0.2s ease;
  color: #fff;
}
.pokemon-name:hover {
  color: #3639fffa;
}

.description {
  width: min-content;
  border-radius: 8px;
  padding: 1rem;
}

.description button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
}

.description button:hover {
  color: #ffee00 !important;
}

.t-type {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.15em;
  font-variant: small-caps;
  font-size: 9pt;
  color: #f8f8f8;
  text-shadow: 0 1px 1px #807870;
}

.type-normal {
  background-color: #a8a878;
  border-top-color: #d8d8d0;
  border-bottom-color: #705848;
}

.type-fire {
  background-color: #f08030;
  border-top-color: #f8d030;
  border-bottom-color: #c03028;
}

.type-water {
  background-color: #6890f0;
  border-top-color: #98d8d8;
  border-bottom-color: #807870;
}

.type-electric {
  background-color: #f8d030;
  border-top-color: #f8f878;
  border-bottom-color: #b8a038;
}

.type-grass {
  background-color: #78c850;
  border-top-color: #c0f860;
  border-bottom-color: #588040;
}

.type-ice {
  background-color: #98d8d8;
  border-top-color: #d0f8e8;
  border-bottom-color: #9090a0;
}

.type-fighting {
  background-color: #c03028;
  border-top-color: #f08030;
  border-bottom-color: #484038;
}

.type-poison {
  background-color: #a040a0;
  border-top-color: #d880b8;
  border-bottom-color: #483850;
}

.type-ground {
  background-color: #e0c068;
  border-top-color: #f8f878;
  border-bottom-color: #886830;
}

.type-flying {
  background-color: #a890f0;
  border-top-color: #c8c0f8;
  border-bottom-color: #705898;
}

.type-psychic {
  background-color: #f85888;
  border-top-color: #f8c0b0;
  border-bottom-color: #789010;
}

.type-bug {
  background-color: #a8b820;
  border-top-color: #d8e030;
  border-bottom-color: #a8b820;
}

.type-rock {
  background-color: #b8a038;
  border-top-color: #e0c068;
  border-bottom-color: #886830;
}

.type-ghost {
  background-color: #705898;
  border-top-color: #a890f0;
  border-bottom-color: #483850;
}

.type-dragon {
  background-color: #7038f8;
  border-top-color: #b8a0f8;
  border-bottom-color: #483890;
}

.type-dark {
  background-color: #705848;
  border-top-color: #a8a878;
  border-bottom-color: #484038;
}

.type-steel {
  background-color: #b8b8d0;
  border-top-color: #d8d8c0;
  border-bottom-color: #807870;
}

.type-fairy {
  background-color: #f0b6bc;
  border-top-color: #f5cad1;
  border-bottom-color: #905f63;
}

.tab-panels {
  border-radius: 10px;
}

.tab-list {
  white-space: nowrap;
  width: 400px; /* Puedes ajustar el ancho fijo según tus necesidades */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.tab-list button {
  transition: transform 0.3s ease;
}

.tab-list .btn-link {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab-list button:hover {
  transform: scale(1.2);
}

.tab-list .btn-link:hover {
  background-color: #3d13f7;
  border-radius: 10px;
  transform: scale(1.1);
  color: #fff;
}

.tab-list .btn-link[aria-selected="true"] {
  background-color: #137df7; /* Color de fondo cuando está seleccionado */
  color: #fff; /* Color del texto cuando está seleccionado */
  font-weight: bold; /* Ejemplo de hacer el texto en negrita */
  border-radius: 10px; /* Bordes redondeados para el tab seleccionado */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar el tab */
  transition: all 0.3s ease; /* Transición suave */
}

.tab-list::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.scroll-button-left,
.scroll-button-right {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.scroll-button-left {
  position: absolute;
  left: 0;
  z-index: 1;
}

.scroll-button-right {
  position: absolute;
  right: 0;
  z-index: 1;
}

@keyframes spriteAnimation {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .tab-panels {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .sprite:hover {
    transform: scale(1.2) translateZ(0);
    background: radial-gradient(rgb(101, 101, 101) 20%, transparent 40%);
  }

  .pokemon-container {
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }

  .pokemon-container:hover {
    transform: scale(1.1);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
}
